<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="/styles/styles.css"
		/>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Blog Posts</title>
		<link
			rel="stylesheet"
			href="/styles/blog.css"
		/>
	</head>
	<body>
		<h1>Blog Posts</h1>

		<div class="blog-grid">
			<% blogposts.forEach(post => { %>
			<div class="blog-card">
				<a href="<%= post.url %>">
					<h2 class="postTitle"><%- post.title %></h2>
				</a>
				<p>By: <%= post.author.username %></p>
			</div>
			<% }); %>
		</div>
		<%- include('footer.ejs') %>
	</body>
</html>
